.box{

   
    width: 100px;
    height:100px;
    background-color: red;
    border: 3px solid black;
    margin: 10px;
    /*  */

}
#big-box{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 212);
    border: 3px dashed black;
    position: relative;
}
.yellow{
    width: 50px;
    height: 50px;
    background: yellow;
    /* position: relative;
    top: 80px;
    justify-content: center;
    left: 80px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

    
}
.container{
    display: flex;
}
    #box
    {
        position:relative ;
        top: 200px;
    }

